.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.hero {
    margin: 155px 50px;
    width: 90%;
    display: flex;
}

.left_hero {
    width: 50%;
}

.right_hero {
    width: 50%;
}

.links {
    margin-top: 50px;
    justify-content: space-around;
}

.portfolio_link {
    text-decoration: underline;
}